
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo</h3>
<table>
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Egitim</td>
    </tr>

</table>
